@layer base {
  :root {
    --body-background: 247 247 247;
    --footer-background: 244 245 247;

    --white: 255 255 255;
    --black: 0 0 0;

    --title-color: 18 20 18;
    --text-color: 149 149 149;
    --link-color: 223 141 77;
    --hr-color: 233 233 233;

    --primary: 21 82 239;
    --gray: 106 112 129;
    --error: 240 68 56;
    --warning: 247 144 9;
    --success: 18 183 106;

    --secondary: 244 245 247;
    --disabled: 189 189 189;

    --primary-25: 245 248 254;
    --primary-50: 231 237 253;
    --primary-100: 207 220 252;
    --primary-200: 160 184 248;
    --primary-300: 112 149 245;
    --primary-400: 64 114 242;
    --primary-500: 21 82 239;
    --primary-600: 13 63 191;
    --primary-700: 10 47 143;
    --primary-800: 7 31 95;
    --primary-900: 3 16 48;

    --gray-25: 249 250 250;
    --gray-50: 233 233 237;
    --gray-100: 213 215 221;
    --gray-200: 193 196 204;
    --gray-300: 165 169 181;
    --gray-400: 137 142 158;
    --gray-500: 106 112 129;
    --gray-600: 83 86 101;
    --gray-700: 64 67 78;
    --gray-800: 41 43 50;
    --gray-900: 23 24 28;

    --success-25: 246 254 249;
    --success-50: 236 253 243;
    --success-100: 209 250 223;
    --success-200: 166 244 197;
    --success-300: 108 233 166;
    --success-400: 50 213 131;
    --success-500: 18 183 106;
    --success-600: 3 152 85;
    --success-700: 2 122 72;
    --success-800: 5 96 58;
    --success-900: 5 79 49;

    --error-25: 255 251 250;
    --error-50: 254 243 242;
    --error-100: 254 228 226;
    --error-200: 254 205 202;
    --error-300: 253 162 155;
    --error-400: 249 112 102;
    --error-500: 240 68 56;
    --error-600: 217 45 32;
    --error-700: 180 35 24;
    --error-800: 145 32 24;
    --error-900: 122 39 26;

    --warning-25: 255 252 245;
    --warning-50: 255 250 235;
    --warning-100: 254 240 199;
    --warning-200: 254 223 137;
    --warning-300: 254 200 80;
    --warning-400: 253 176 34;
    --warning-500: 247 144 9;
    --warning-600: 220 104 3;
    --warning-700: 181 71 8;
    --warning-800: 147 55 13;
    --warning-900: 121 46 13;
  }

  .dark,
  [data-theme="dark"] {
    --body-background: 16 16 18;
    --footer-background: 24 24 27;

    --white: 36 36 36;
    --black: 244 244 245;

    --title-color: 250 250 250;
    --text-color: 161 161 170;
    --link-color: 251 146 60;
    --hr-color: 39 39 42;

    --primary: 96 165 250;
    --gray: 161 161 170;
    --error: 248 113 113;
    --warning: 251 146 60;
    --success: 34 197 94;

    --secondary: 39 39 42;
    --disabled: 113 113 122;

    --primary-25: 15 23 42;
    --primary-50: 30 41 59;
    --primary-100: 30 58 138;
    --primary-200: 37 99 235;
    --primary-300: 59 130 246;
    --primary-400: 96 165 250;
    --primary-500: 147 197 253;
    --primary-600: 191 219 254;
    --primary-700: 219 234 254;
    --primary-800: 239 246 255;
    --primary-900: 248 250 252;

    --gray-25: 24 24 27;
    --gray-50: 39 39 42;
    --gray-100: 63 63 70;
    --gray-200: 82 82 91;
    --gray-300: 113 113 122;
    --gray-400: 161 161 170;
    --gray-500: 212 212 216;
    --gray-600: 228 228 231;
    --gray-700: 244 244 245;
    --gray-800: 250 250 250;
    --gray-900: 255 255 255;

    --success-25: 20 83 45;
    --success-50: 22 101 52;
    --success-100: 21 128 61;
    --success-200: 34 197 94;
    --success-300: 74 222 128;
    --success-400: 134 239 172;
    --success-500: 187 247 208;
    --success-600: 220 252 231;
    --success-700: 240 253 244;
    --success-800: 247 254 251;
    --success-900: 251 254 252;

    --error-25: 127 29 29;
    --error-50: 153 27 27;
    --error-100: 185 28 28;
    --error-200: 220 38 38;
    --error-300: 239 68 68;
    --error-400: 248 113 113;
    --error-500: 252 165 165;
    --error-600: 254 202 202;
    --error-700: 254 226 226;
    --error-800: 254 242 242;
    --error-900: 254 248 248;

    --warning-25: 120 53 15;
    --warning-50: 154 77 12;
    --warning-100: 217 119 6;
    --warning-200: 245 158 11;
    --warning-300: 251 191 36;
    --warning-400: 252 211 77;
    --warning-500: 253 224 71;
    --warning-600: 254 240 138;
    --warning-700: 254 249 195;
    --warning-800: 255 251 235;
    --warning-900: 255 253 247;
  }
}
